.jumbotron {
  background: url("/assets/img/newspaper.png") no-repeat center center;
  color: white;
}

.display-4 {
  font-family: 'Cinzel', serif;
  font-size: 60px;
  
}

.lead {
  font-family: 'Cinzel', serif;
  font-size: 40px;
  
}

.btn-primary {
  color: white !important;
}

.note-item-list {
  padding: 5px;
}